:root {
  --hex-0: #fff;
  --hex-1: #d9d9d9;
  --hex-2: #bfbfbf;
  --hex-3: #8c8c8c;
  --hex-4: #404040;
  --hex-5: #0d0d0d;

  --color-1: #f0c74f;
  --color-2: #f97d3f;
  --color-3: #2c97ca;
  --color-4: #65d9fe;
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--hex-5);

  font-family: "Josefin Sans", "Times New Roman", Times, serif;
  color: var(--hex-1);

  position: relative;
}

.wrapper-scroll {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 4px;
  background: rgb(234, 234, 234);
}

.wrapper-scroll-indicator {
  height: 100%;
  width: 0;
  background-color: var(--hex-5);
}

header {
  position: fixed;
  z-index: 10;

  width: 100%;
  transition: all 0.4s ease;
  padding: 20px 25px 10px 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

header .first {
  color: var(--hex-0);
}

header .first h6 {
  font-weight: 300;
  transition: font-size 0.3s, color 0.3s;
  font-size: 21px;
}

@media (max-width: 991.98px) {
  header .first {
    text-align: center;
    margin-bottom: 10px;
  }
}

header .last {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

header .last a {
  color: var(--hex-0);
  transition: font-size 0.3s, color 0.3s;
  font-size: 19px;
}

header .last a {
  color: var(--hex-1);
}

header .last a:hover {
  color: var(--hex-0);
}

.header-scroll {
  background-color: var(--hex-0);
  padding: 12px 25px 0px 25px;
  box-shadow: 0 0 5px grey;
}

.header-scroll h6 {
  color: var(--hex-4) !important;
  transition: font-size 0.3s, color 0.3s;
  font-size: 17px !important;
}

.header-scroll .last a {
  color: var(--hex-4) !important;
  transition: font-size 0.3s, color 0.3s;
  font-size: 15px;
}

section {
  width: 100%;
  height: 100vh;
  background: url("/images/chanhphy.jpg") top right;
  background-size: cover;
  background-position: top center;
  position: relative;
}

section::before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

section .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10vw;
}

section .hero-container h1 {
  font-family: Josefin Sans;
  letter-spacing: 1.1px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--hex-0);
  text-shadow: 0px 0px 5px var(--hex-5);
}

main {
  margin-bottom: 30px;
}

main .wrapper-color {
  height: 2300px;
  opacity: 0;
}

main .wrapper-color .wrapper-color-text {
  padding: 0 25px;
  position: fixed;
  top: 10vh;
  text-align: center;
  left: 0;
  right: 0;
}

main .wrapper-color .wrapper-color-text h2 {
  --slash: 0;

  color: transparent;
  font-size: 140px;
  text-transform: uppercase;
  font-weight: bold;

  background: var(--hex-5);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    55deg,
    var(--hex-0) var(--slash),
    var(--hex-5) var(--slash)
  );
}

main .wrapper-color .wrapper-color-text h4 {
  font-style: italic;
  opacity: 0;
  font-size: 28px;
}

main .wrapper-color .colors {
  position: fixed;
  top: calc(60vh);
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

main .wrapper-color .colors div {
  transition: all 0.4s ease-in-out;
  width: 15vw;
  height: 15vw;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

main .wrapper-color .colors .color-1 {
  background-color: var(--color-1);
  transform: translate(-200%, 400%);
}

main .wrapper-color .colors .color-2 {
  background-color: var(--color-2);
  transform: translate(400%, -800%);
}

main .wrapper-color .colors .color-3 {
  background-color: var(--color-3);
  transform: translate(400%, 800%);
}

main .wrapper-color .colors .color-4 {
  background-color: var(--color-4);
  transform: translate(200%, -400%);
}

main .wrapper-clip-path {
  position: sticky;
  height: 66vh;
}

main .wrapper-clip-path .clip-path {
  --slash-cut: calc(50vw + 50vh * 0.7);
  --slash: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  clip-path: polygon(
    calc((1 - var(--slash)) * var(--slash-cut)) 0,
    calc((1 + var(--slash)) * var(--slash-cut)) 0,
    calc(100vw - (1 - var(--slash)) * var(--slash-cut)) 100%,
    calc(100vw - (1 + var(--slash)) * var(--slash-cut)) 100%
  );
  background: black;
}

main .wrapper {
  padding: 15px;
  padding-top: 60px;
  margin: 0;
  width: 100%;
}

main .wrapper .title {
  color: white;
  z-index: 1;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 30px;
}

main .wrapper .item {
  padding: 15px;
  overflow: hidden;
  display: flex;
  position: relative;

  user-select: none;
}

main .wrapper .item img {
  padding: 0;
  width: 100%;
  cursor: pointer;
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

main .wrapper .item:hover img {
  -moz-filter: grayscale(0%);
  filter: grayscale(0);

  transform: scale(1.01);
}

main .wrapper .item:hover .image-info {
  opacity: 1;
}

main .wrapper .item .image-info {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 3;

  padding: 0 30px;

  width: 100%;
  text-align: center;

  opacity: 0;
  transition: opacity 0.6s;
}

main .wrapper .item .image-info .btn-link {
  border-color: var(--hex-0);
  color: var(--hex-0);
  border: 2px solid var(--hex-0);
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  padding: 9px 24px 8px 23px;
}

main .wrapper .item .image-info .btn-link:hover {
  background-color: var(--hex-0);
  color: var(--hex-4);
}

main .wrapper .item .image-info .text {
  color: var(--hex-0);
  overflow: hidden;
  white-space: pre-wrap;
  font-size: 13px;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

main .wrapper .item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.25);
  transition: background 0.4s;
}

main .wrapper .item .overlay {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

  height: 100%;
  width: 100%;
}

footer {
  position: relative;
  z-index: 1;

  padding: 15px;
  text-align: center;
  font-weight: 100;
  color: var(--hex-1);
}

/*
* Start: Loading
*/

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: none;
}

.loading .loading-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.loading-waviy {
  position: fixed;
  top: 50vh;
  left: calc(50vw - 78px);
}

.loading-waviy span {
  position: relative;
  display: inline-block;
  font-size: 26px;
  color: var(--hex-0);
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

/*
* End: Loading
*/

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/*
* Start: Responsive
*/
@media (max-width: 991.99px) {
  header .last {
    justify-content: center;
  }

  header .first h6 {
    font-size: 16px !important;
  }

  header {
    padding: 10px 25px !important;
  }

  section .hero-container h1 {
    font-size: 15px;
  }

  main .wrapper-color .wrapper-color-text {
    top: 20vh;
  }

  main .wrapper-color .wrapper-color-text h2 {
    font-size: 50px;
  }

  main .wrapper-color .wrapper-color-text h4 {
    font-size: 16px;
  }
}
/*
* End: Responsive
*/

/*
* Start: Pure CSS Animated Mouse Scroll Icon
*/
.scroll-down-wrap {
  position: absolute;
  right: 0;
  bottom: 14vh;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}

.section-down-arrow {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid var(--hex-3);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  animation: scrollMouse 2.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;

  transition: all 0.4s;

  cursor: pointer;
}

.section-down-arrow:hover {
  transition: all 0.4s;
  border-color: var(--hex-0);
}

.section-down-arrow:hover .nectar-scroll-icon {
  background-color: var(--hex-0);
}

.nectar-scroll-icon {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--hex-3);
  animation: scrollMouseWheel 2.4s cubic-bezier(0, 0, 0.725, 1) infinite;
}

@keyframes scrollMouse {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(8px);
  }
  100%,
  65% {
    transform: translateY(0);
  }
}

@keyframes scrollMouseWheel {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
/*
* End: Pure CSS Animated Mouse Scroll Icon
*/
